#menu-financas {
    background-color: #01bd94;
}

#menu-financas:hover {
    background-color: #e0e0e0;
}

#container-filter-faturamento {
    display: flex;
    flex-flow: row nowrap;
}

#filter-faturamento {
    width: 35%;
    display: flex;
    flex-flow: row wrap;
    margin-right: 20px;
    border: 1px solid #00000025;
    background-color: #fff;
    padding: 20px;
    justify-content: center;
}

#data, #tipo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10;
}

#tipo {
    margin-top: 20px;
}

#data > h5, #tipo > h5 {
    margin-bottom: 15px;
    width: 100%;
}

#data > input {
    padding: 10px;
    margin-right: 20px;
    flex: 1;
}

#tipo > button {
    padding: 10px;
    width: 130px;
    margin-right: 20px;
    border-radius: 5px;
    border: 0.2px solid rgb(196, 196, 196);
    cursor: pointer;
    background-color: #fff;
    flex: 1; 
}

#tipo > button:hover {
    background-color: whitesmoke;
}

/* Tabela com as informações de movimentos na conta */
#table-container {
    display: flex;
    flex-direction: column; 
    flex: 1;
    overflow-x: auto; 
    overflow-y: auto;
    max-height: calc(100vh - 150px - 20px);
}

table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    table-layout: fixed; 
}

table thead th {
    background-color: #00D7A7;
    color: #fff;
    padding: 15px;
    font-size: 14px;
}


td {
    border: 1px solid #ccc;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13.9px;
    height: 100px;
}

.info-project {
    white-space: normal;
    word-wrap: break-word;
}

#customer {
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

#customer span {
    margin-right: 5px;
}

#data-de-realizacao {
    white-space: normal;
    word-wrap: normal;
}

/* Efeito zebrado na tabela */
table tbody > tr:nth-child(odd) {
    background-color: rgba(208, 208, 208, 0.334);
}

/* Responsividade para pequenas telas */
@media screen and (max-width: 768px) {
    div#filter-faturamento {
        width: 100%;
    }

    div#desktop-menu {
        display: none;
    }

    div#container-filter-faturamento {
        flex-flow: column wrap;
    }

    div#table-container {
        overflow-x: auto;
        flex-flow: column wrap;
        width: 100%;
    }

    div#table-container thead {
        display: none;
    }

    table tr {
        display: flex;
        flex-flow: column wrap;
        padding: 15px;
    }

    td#data-de-realizacao {
        font-size: 20px;
        font-weight: bold;
    }

    td#amount-received {
        display: flex;
        align-items: center;
        font-size: 17px;
        background-color: #00D7A7;
        border-radius: 10px;
        color: #fff;
        padding: 5px;
        width: 110px;
        margin-left: 10px;
        margin-top: 5px;
        justify-content: center;
    }

    table td {
        height: auto;
        border: 0;
    }

    .info-project {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .info-project span {
        margin-right: 5px;
    }

    td#customer br {
        display: none;
    }

    td#customer {
        display: flex;
        align-items: center;
    }
}