#menu-financas {
    background-color: #01bd94;
}

#menu-financas:hover {
    background-color: #e0e0e0;
}

#container-filter-faturamento {
    display: flex;
    flex-flow: row nowrap;
}

#filter-faturamento {
    display: flex;
    flex-flow: row wrap;
    width: 350px;
    margin-right: 85px;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 20px;
    justify-content: center;
    height: 250px; 
}

#data, #tipo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#data > h5, #tipo > h5 {
    margin-bottom: 15px;
    width: 100%;
}

#data > input {
    padding: 10px;
    margin-right: 20px;
    flex: 1;
}

#tipo > button {
    padding: 10px;
    width: 130px;
    margin-right: 20px;
    border-radius: 5px;
    border: 0.2px solid rgb(196, 196, 196);
    cursor: pointer;
    background-color: #fff;
    flex: 1; 
}

#tipo > button:hover {
    background-color: whitesmoke;
}

/* Tabela com as informações de movimentos na conta */
#table-container {
    display: flex;
    flex-direction: column; 
    flex: 1;
    overflow-x: auto; 
    overflow-y: auto;
    max-height: calc(100vh - 150px - 20px);
}

table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    table-layout: fixed; 
}

table thead th {
    background-color: #00D7A7;
    color: #fff;
    padding: 15px;
    font-size: 14px;
}


td {
    border: 1px solid #ccc;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13.9px;
    height: 100px;
}

#data-de-realizacao {
    white-space: normal;
    word-wrap: break-word;
}

/* Efeito zebrado na tabela */
table tbody > tr:nth-child(odd) {
    background-color: rgba(208, 208, 208, 0.334);
}