@charset "UTF-8";

/* Configurações do menu */
#menu-financas {
    background-color: #01bd94;
}

#menu-financas:hover {
    background-color: #e0e0e0;
}

/* Estilo da área de pagamentos */
div#payhead h1 {
    margin-bottom: 20px;
}

/* Responsividade para pequenas telas */
@media screen and (max-width: 768px) {
    #desktop-menu {
        display: none;
    }
}