/* Desabilitar os itens da versão mobile */
.html-mobile {
    display: none;
}

.html-tablet {
    display: none;
}

/* Viewport de propostas e starcoins */
#container-painel-control {
    display: flex;
    flex-flow: column wrap;
}

#container-painel {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    padding: 20px;
    height: auto;
    border: 1px solid #000000;
    margin-bottom: 25px;
}

#titlepanel {
    display: inline-block;
    color: white;
    background-color: #00D7A7;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
}

.painel-imgs {
    width: 200px;
    display: flex;
    margin-top: 10px;
}

.painel-txt {
    margin-left: 10px;
}

.painel-txt p {
    font-size: 13px;
}

#starcoins-painel {
    margin-top: 25px;
}

#starcoins-sem {
    display: flex;
}

#starcoins-sem img {
    margin-left: 4px;
}

.control-starcoins p {
    display: flex;
    font-size: 13px;
    margin-bottom: 10px;
}

/* Sobre o usuário */
#container-user {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    border: 1px solid black;
    padding: 20px;
}

#profile {
    display: flex;
    margin-bottom: 25px;
}

#profile-picture {
    font-size: 27px;
}

#type-user {
    margin-left: 10px;
}

#type-user p {
    font-size: 14px;
}
/* Avaliação do perfil */
.rating {
    display: inline-block;
  }
  
.rating input {
    display: none;
}
  
.rating label {
    cursor: pointer;
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
}
  
.rating label:before {
    content: '\2605';
    color: #ccc;
}
  
.rating input:checked ~ label:before {
    color: #ffcc00;
}
  
.rating label:hover:before,
.rating label:hover ~ label:before {
    color: #ffcc00;
}
  
.rating {
    direction: rtl; /* Define a direção da escrita da direita para a esquerda */
}

/* Barra de progresso */
#profile-progress h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#container-progress-bar {
    display: flex;
    align-items: center;
}

#progress-bar {
    width: 75%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}
  
#progress {
    width: 25%;
    height: 100%;
    background-color: #00d7a7;
}
  
#percentage {
    margin-left: 5px;
}

/* Mostrar valor faturado */
#container-saldo {
    display: flex;
    flex-flow: row wrap;
    margin-left: 85px;
    background-color: #fff;
    border: 1px solid #000000;
    padding: 30px;
}

#saldo-work {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#saldo-disp {
    margin-left: 35px;
}

.saldo-work-btn {
    background-color: #00d7a7;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-right: 15px;
    text-decoration: none;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

.saldo-work-btn:hover {
    background-color: #03c299;
}

#method-pay div {
    width: 100px;
    height: 35px;
    background-color: #83828240;
}

/* Projetos recomendados */
#container-recommendations {
    display: flex;
    flex-flow: column wrap;
    width: 51.5vw;
    margin-top: 25px;
    margin-left: 85px;
    background-color: #fff;
    border: 1px solid #000000;
}

#head-painel-projects h4 {
    text-align: center;
    background-color: #76757544;
    padding: 5px;
}

#head-painel-projects nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #ededed;
}

#head-painel-projects nav li {
    font-size: 13px;
    margin-left: 20px;
    cursor: pointer;
}

#body-projects {
    padding: 20px;
}

#body-projects div {
    background-color: #e2e1e1;
    padding: 10px;
    height: 7em;
    margin-top: 20px;
}

/* Estilos para os botões de página */
.page-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.page-button {
    margin-left: 5px;
    padding: 8px 13px;
    background-color: #00d7a7;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    background-color: #03c299;
}

.next-button {
    font-weight: bolder;
    margin-left: 5px;
    padding: 8px 13px;
    background-color: #fff;
    border-color: #00d7a7;
    border-radius: 100%;
    cursor: pointer;
}

.next-button:hover {
    background-color: #00d7a82f;
}

/* Responsividade para pequenas telas */
@media screen and (max-width: 600px) {
    /* Desativa os itens da versão para desktop e ativa a versão mobile */
    .html-mobile {
        display: block;
    }

    .html-desktop {
        display: none;
    }

    .html-tablet {
        display: none;
    }

    div#desktop-menu {
        display: none;
    }

    main {
        display: flex;
        flex-flow: column wrap;
    }

    #

    /* Estilo de usuário para telas pequenas */
    div#container-user {
        display: flex;
    }

    div#profile {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    div#saldo-work-vmobile {
        margin-left: 15px;
    }

    div#saldo-disp-vmobile {
        margin-top: 20px;

    }

    /* Estilo da seção de recomendações para pequenas telas */
    div#container-recommendations-vmobile {
        display: block;
        margin-top: 20px;
        height: auto;
        text-align: center;
    }

    div#body-projects-vmobile {
        margin-bottom: 20px;
    }
    
    div#body-projects-vmobile div {
        background-color: #cdcdcd;
        padding: 80px;
        margin-top: 15px;
    }

    nav#filter-project {
        background-color: #fff;
        border: 1px solid black;
        cursor: pointer;
    }

    nav#filter-project span {
        font-size: 20px;
        padding: 5px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
    /* Desativa os itens da versão para desktop e ativa a versão mobile */
    .html-mobile {
        display: none;
    }

    .html-desktop {
        display: none;
    }

    .html-tablet {
        display: block;
    }

    #container-painel {
        display: none;
    }

    #titlepanel {
        display: none;
    }

    #container-painel {
        align-items: center;
        justify-content: center;
    }

    div#desktop-menu {
        display: none;
    }

    div#search-box {
        width: 50%;
    }

    #container-user {
        display: flex;
        flex-direction: column;
    }

    #saldo-work-vmobile {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .saldo-work-btn {
        flex: 0 0 auto; /* Mantém o tamanho original do botão */
        width: 80px; /* Largura fixa (opcional) */
        height: 40px; /* Altura fixa (opcional) */
        border: none; /* Sem borda */
        border-radius: 10px; /* Bordas arredondadas */
        cursor: pointer; /* Muda o cursor ao passar o mouse */
        text-align: center;
    }

    #painel-vmobile {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #saldo-disp-vmobile {
        align-items: center;
        margin-left: 35px;
    }

    #saldo-disp-vmobile div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    main {
        display: flex;
        flex-flow: column wrap;

    /* Estilo de usuário para telas pequenas */
    div#container-user {
        display: flex;
    }

    div#profile {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    div#saldo-work-vmobile {
        margin-left: 25px;
    }

    div#saldo-disp-vmobile {
        margin-top: 20px;

    }

    /* Estilo da seção de recomendações para pequenas telas */
    div#container-recommendations-vmobile {
        margin-top: 20px;
        height: auto;
        text-align: center;
    }

    div#body-projects-vmobile {
        margin-bottom: 20px;
    }
    
    div#body-projects-vmobile div {
        background-color: #cdcdcd;
        padding: 80px;
        margin-top: 15px;
    }

    nav#filter-project {
        background-color: #fff;
        border: 1px solid black;
        cursor: pointer;
    }

    nav#filter-project span {
        font-size: 20px;
        padding: 5px;
    }
}