@charset "UTF-8";

/* Área de configurar o status */
#stats {
    border: 1px solid #00000025;
    background-color: #fff;
    padding: 25px;
    height: 320px;
}

#iselect-status {
    margin-top: 10px;
    padding: 15px;
    padding-left: 15px;
    font-size: 13px;
    width: 200px;
    border-radius: 8px;
}

.select-container {
    display: inline-block;
  }
  
.select-container select {
    -webkit-appearance: none;  /* Safari e Chrome */
    -moz-appearance: none;     /* Firefox */
    appearance: none;          /* Padrão */
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    padding-right: 30px;  /* Ajuste para dar espaço para a seta */
    width: 100%;
}

/* Projetos */
#config-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#projects-view-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 85px;
    background-color: #ECECEC;
    padding: 20px;
}

#box-project {
    display: flex;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

#box-project {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 20px;
}

#info-project {
    flex: 7;
}

#info-project p {
    margin-top: 7px;
}

#stats-project {
    white-space: nowrap;
    flex: 1;
}

#stats-project > p {
    padding: 5px 15px 5px 15px;
    border: 1.5px solid rgb(216, 216, 12);
    border-radius: 20px;
    text-align: center;
    font-size: 13.5px;
    margin-bottom: 15px;
    color: rgb(216, 216, 12);
}

#info-cliente {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#info-cliente p {
    position: absolute;
    margin-right: 32px;
    font-size: 14px;
}

#info-client span {
    font-size: 30px;
}

/* Responsividade para pequenas telas */
@media screen and (max-width: 992px) {
    #stats {
        height: auto;
    }

    #desktop-menu {
        display: none;
    }

    #config-container {
        display: flex;
        flex-flow: column wrap;
    }

    #projects-view-container {
        margin: 0;
    }
}